.addExpense {
  width: 70vw;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #fff;
  padding: 40px 40px;
  border-radius: 5px;
  color: #555;
  background-color: #eee;

  h3 {
    font-size: 20px;
    margin-bottom: 25px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 10px;
  }
  .span-2 {
    grid-column: span 2;
  }
  div {
    display: flex;
    flex-direction: column;
    justify-self: start;
    width: 100%;
    label {
      font-size: 20px;
    }

    input {
      font-size: 20px;
      padding: 3px 5px;
      width: 100%;
      height: 35px;
      color: #555;
      outline: none;
    }
  }

  button {
    padding: 10px 15px;
    font-size: 20px;
    border: none;
    background-color: var(--main-btn);
    color: #fff;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s;
  }
  button:hover {
    background-color: #333;
  }
}
